html, body {
	/*font-family: 'Open Sans', sans-serif;
	font-weight: 200;*/
	background-image: url('../img/bg.jpg') ;
    background-repeat: no-repeat;
	background-position: center;
	background-size: 1440px;
}

@media (min-width: 1441px) {
	html, body {
		background-size: 1980px;
	}
}


.devcase-brand {
	background-image: url('../img/devcase-logo.png') ;
	background-size: 210px 63px;
    background-repeat: no-repeat;
	height: 63px;
	width: 210px;
	
}
